# Unity serializes empty YAML values with a trailing space.
*.asset whitespace=-blank-at-eol
*.meta whitespace=-blank-at-eol
*.mat whitespace=-blank-at-eol
*.prefab whitespace=-blank-at-eol
*.fbx binary
*.png binary
*.jpg binary
